/* CSS Reset */
*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height:59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.4;

}
/* Navigation bar: Logo and Image */
#logo{
    margin: 10px 34px
}
#logo img{
    height:59px;
    margin: 3px 6px;
    border-radius: 357px;
}
/* Navigation Bar:List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}


#navbar ul li{
    /* color:white; */
    list-style: none;
    font-size: 1.2rem;
    transition:var(height);
    transition:var(--font-size);
}


#navbar ul li a {
    margin: auto 9px;
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover {
    /* margin: auto 48px; */
    color: black;
    background-color: white;
    height: 25px;
    /* font-size: 25px; */
    /* padding: 1px 10px; */
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height:413px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    position: absolute;
    background:url('../img/home1.jpg') no-repeat center center/cover;
    height:515px;
    top:0px;
    left:0px;
    width:100%;
    z-index: -1;
    opacity:0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Corinthia', cursive;
}
/* Services Section */
#services{
    margin:0px;
    display: flex;
}
#services .box{
    border:2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background:#f2f2f2;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Corinthia', cursive;
}
#services{}
#services{}
#services{}
#services{}
/* Clients Section */
#client-section
{
    /* height: 344px; */
    position: relative;
}
#client-section::before{
    content:"";
    margin-top: 7px;
    position: absolute;
    background: url(../img/chef.jpg);
    left: -1px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:30px; */
}
.client-item{
    padding: 33px;
}
#clients img {
    height: 158px;
    /* width: 256px; */
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    margin-top: 1px;
    content:"";
     position:absolute;
height:100%;
    width:100%;
    z-index: -1;
    opacity:1.7;
    background: url("../img/contact.jpg")no-repeat center center/cover ;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 34px; */
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5px 7px;
    border-radius: 9px;
    font-size: 1.1rem;
}


#contact-box form{
    width:40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Corinthia', cursive;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-family: 'Corinthia', cursive;
    font-size: 3.8rem;
    padding: 15px;
    margin: 1px;
    text-decoration: underline;
}
.h-primary1{
    font-family: 'Corinthia', cursive;
    font-size: 3.8rem;
    margin:79px;
    padding:-27px;
    text-decoration: underline;
}
.h-secondary{
    font-family: 'Corinthia', cursive;
    font-size: 2.3rem;
    padding:12px;
}



.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: brown;
    color:white;
    margin:17px;
    font-size:1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
    margin:2px;
}